doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  
  script(type='text/javascript' src='static/js/msal.js')
  script(type='text/javascript').
    if (typeof Msal === 'undefined') {
      document.write(unescape('%3Cscript src="static/js/msal.js" type="text/javascript"%3E%3C/script%3E'));
    }
  
  link(rel='stylesheet' href='static/css/bootstrap.min.css')
  link(rel='stylesheet' href='static/css/layout.css')

  block headContent

body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.pl-5.pr-5
    a.navbar-brand(href='/') Home
    ul.navbar-nav.ml-2
      li.nav-item
        span#signInButton.navbar-text
          .navbar-text Sign In
          .glyph_signIn_circle.d-inline-block.align-top.ml-2

        span#signOutButton.navbar-text
          #userNameDisplay.navbar-text
          .glyph_account_circle.d-inline-block.align-top.ml-2

  .container-fluid.pl-5.pr-5
    block bodyContent
  
  script(type='text/javascript' src='static/js/jquery-3.4.1.slim.min.js')
  script(type='text/javascript' src='static/js/popper.min.js')
  script(type='text/javascript' src='static/js/bootstrap.min.js')
  script(type='text/javascript' src='static/js/authConfig.js')
  script(type='text/javascript' src='static/js/authPopup.js')
  script(type='text/javascript' src='static/js/layout.js')

  block bottomScripts